Source: patat
Maintainer: Félix Sipma <felix+debian@gueux.org>
Priority: extra
Section: haskell
Build-Depends: debhelper (>= 10),
 haskell-devscripts (>= 0.8),
 cdbs,
 ghc,
 ghc-prof,
 libghc-aeson-dev (>= 0.11),
 libghc-aeson-dev (<< 1.1),
 libghc-ansi-terminal-dev (>= 0.6),
 libghc-ansi-terminal-dev (<< 0.7),
 libghc-ansi-wl-pprint-dev (>= 0.6),
 libghc-ansi-wl-pprint-dev (<< 0.7),
 libghc-mtl-dev (>= 2.2),
 libghc-mtl-dev (<< 2.3),
 libghc-optparse-applicative-dev (>= 0.12),
 libghc-optparse-applicative-dev (<< 0.14),
 libghc-pandoc-dev (>= 1.17),
 libghc-pandoc-dev (<< 1.18),
 libghc-terminal-size-dev (>= 0.3),
 libghc-terminal-size-dev (<< 0.4),
 libghc-text-dev (>= 1.2),
 libghc-text-dev (<< 1.3),
 libghc-yaml-dev (>= 0.7),
 libghc-yaml-dev (<< 0.9),
Standards-Version: 3.9.8
Homepage: http://github.com/jaspervdj/patat
X-Description: Terminal-based presentations using Pandoc
 Terminal-based presentations using Pandoc

Package: patat
Architecture: any
Section: misc
Depends: ${shlibs:Depends}, ${haskell:Depends}, ${misc:Depends}
Description: Terminal-based presentations using Pandoc
 patat (*P*resentations *A*top *T*he *A*NSI *T*erminal) is a small tool that
 allows you to show presentations using only an ANSI terminal.  It does not
 require `ncurses`.
