#!/usr/bin/make -f

# these rules originally written by Joey Hess for hothasktags package

%:
	dh $@

override_dh_auto_configure:
	ghc --make Setup
	./Setup configure

override_dh_auto_build:
	pandoc -sS debian/patat.md -o debian/patat.1
	./Setup build

override_dh_auto_clean:
	if [ -x Setup ]; then ./Setup clean; fi
	rm -f Setup Setup.o Setup.hi debian/patat.1

override_dh_auto_test:
	PATH="$(PATH):dist/build/patat/" bash test.sh

override_dh_compress:
	# add file that dh_compress somehow misses
	dh_compress debian/patat/usr/share/doc/patat/README.md

override_dh_strip:
	# GHC cannot produce debugging symbols so the -dbgsym package
	# ends up empty, so disable generating it
	dh_strip --no-automatic-dbgsym
